{% extends "base.html" %}

{% block content %}
            <div class="error_text">
                {% if obj.errors|length > 0 %}
                    {% for error in obj.errors  %}
                        <div>{{ error }}</div>
                    {% endfor %}
				{% endif %}
            </div>
            <div>
                <form action="/users/manage?action=insert" method="POST">
                    Name:<br>
                    <input type="text" name="name" value="{{ obj.data[0].name }}" />
                    <br>

                    Password:<br>
                    <input type="password" name="password" value="" />
                    <br>

                    Retype Password:<br>
                    <input type="password" name="password2" value="" />
                    <br>

                    Role:<br>
                    <select name="role">
                        {% for role in obj.roles  %}
                            {% if  obj.data[0].role == role.value %}
                                <option selected="true" value="{{ role.value }}">{{ role.text }}</option>
                            {% else %}
                                <option value="{{ role.value }}">{{ role.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <br>
                    Favorite team:<br>
                    <select name="favoriteTeam">
                        {% for team in obj.teams %}
                            {% if obj.data[0].favoriteTeam == team.team %}
                                <option selected="true" value="{{ team.team }}">{{ team.text }}</option>
                            {% else %}
                                <option value="{{ team.team }}">{{ team.text }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>


                    <br>
                    <br>
                    <input type="submit" value="Submit" />
                </form>
                
            </div>
{% endblock %}